<%- include("partials/header"); -%>


<div class="container">

<table class="table">
    <thead>
        <tr style="background-color: #faf7f0;">
            <th><strong>UID</strong></th>
            <th><strong>First Name</strong></th>
            <th><strong>Last Name</strong></th>
            <th><strong>Age</strong></th>
            <th><strong>Date of Joining</strong></th>
            <th><strong>Email</strong></th>
            <th><strong>Phone</strong></th>
            <th><strong>Address</strong></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0;i<result.length;i++){ %>
        <tr style="background-color: #faf7f0;">
            <td><%=result[i].uid%></td>
            <td><%=result[i].fname%></td>
            <td><%=result[i].lname%></td>
            <td><%=result[i].age%></td>
            <td><%=result[i].date%></td>
            <td><%=result[i].email%></td>
            <td><%=result[i].phone%></td>
            <td><%=result[i].address%></td>
        </tr>
        <% } %>
    </tbody>
</table>

</div>
<script src="https://kit.fontawesome.com/f277da5ba5.js" crossorigin="anonymous"></script>





